.container{
display: flex;
flex-wrap: wrap;
font-family: 'Poppins', sans-serif;
}

header{
    background-color: rgb(67, 40, 26);
    width: 100%;
    color: white;
}
h1{
    justify-content: center;
    padding-right: 20px;
    float: right;

}
.logo{
    height: 100px;
    width: 100px;
    float: left;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}
nav{
text-align: center;
word-spacing: 30px;
background-color: rgb(67, 40, 26, .7);
width: 100%;
}
li{
    display: inline;
    text-align: center;
    list-style: none;
    color: white;
    text-decoration: none;
}
li a:visited {
    color: goldenrod;
}
a{
    text-decoration: none;
    color: goldenrod;
}
main{
text-align: center;
margin-top: 2%;
width: 100%;
background-color: rgb(177, 177, 177);
padding-bottom: 15px;
}
p{
    word-wrap: break-word
}
.video{
    margin-top: 10px;
    justify-content: center;
    box-shadow: 10px 10px 5px gray;
}

footer{
    display: inline;
    background-color: rgb(67, 40, 26);
    width: 100%;
    padding-left: 200px;
    margin-top: 2%;
    word-spacing: 10px;
}
button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: goldenrod;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: transparent;
    display: inline;
    margin-left: 5%;
}

button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    transform-origin: center top;
    transform: scaleY(0);
    transition: transform 0.25s ease-in-out;
}

button:hover {
    cursor: pointer;
}

button:hover::before {
    transform-origin: center bottom;
    transform: scaleY(1);
}

p1 {
    margin-left: 38%;
    color: white;
   text-align: center;
   word-spacing: 1px
}

@media (max-width: 700px){
.container{
display: grid;
grid-template-rows: .5fr .25fr 2fr .5fr;
grid-template-columns: 1fr;
grid-template-areas: 
"header"
"nav"
"main"
"footer"
}
header{
    text-align: center;
}
h1{
    text-align: center;
}
.logo{
    padding-left: 139px;
}

.video{
    height: 300px;
    width: 300px;
    justify-content: flex-start;
}
button{
    text-align: left;
    padding-right: 150px;
    width: 300px;
}
p1{
    text-align: left;
}
}