body {
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-rows: 2fr .5fr 5fr 2fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "header header header" "nav nav nav" "aside0 main aside" "footer footer footer"
}

header {
    grid-area: header;
    text-align: center;
    color: white;
    background-color: rgb(67, 40, 26);
    padding-top: 30px;
    padding-bottom: 2px;
}

.logo {
    float: left;
    margin-left: 20px;
}

h1 {
    float: right;
    margin-right: 10px;
}

nav {
    grid-area: nav;
    background-color: rgb(67, 40, 26, .7);
    text-align: center;
}
li {
    display: inline;
    text-decoration: none;
    color: goldenrod;
    margin-right: 60px;
    text-align: center;
}

a {
    position: relative;
    text-decoration: none;
    color: goldenrod;
}

a::before {
    top: 0;
    transform-origin: center right;
}

a:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}

a::after {
    bottom: 0;
    transform-origin: center left;
}

a:hover::after {
    transform-origin: center right;
    transform: scaleX(1);
}

li a:visited {
    color: goldenrod;
}

aside0 {
    grid-area: aside0;
    border-style: solid black;
    border-width: 3px;
    text-align: center;
    background-color: lightgray;
}

p {
    text-decoration: none;
    position: relative;
    color: rgb(67, 40, 26);
}

i {
    color: goldenrod;
}

main {
    grid-area: main;
}

.photo {
    width: 100%;
    height: 100%;
}

h2 {
    color: rgb(67, 40, 26);
    text-align: center;
}

aside {
    grid-area: aside;
    color: goldenrod;
    margin: 0 auto;
    background-color: lightgray;
}

.mets {
    position: relative;
}
a::before, .mets:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.mets::before, .mets::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: rgb(67, 40, 26);
    transform-origin: center;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.4s ease;
}

.mets::before {
    top: 0;
}

.mets::after {
    bottom: 0;
}

.mets:hover::before, .mets:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.margot {
    position: relative;
}

.margot::before, .margot::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: rgb(67, 40, 26);
    transform-origin: center;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.4s ease;
}

.margot::before {
    top: 0;
}

.margot::after {
    bottom: 0;
}

.margot:hover::before, .margot:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.machado {
    position: relative;
}

.machado::before, .machado::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: rgb(67, 40, 26);
    transform-origin: center;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.4s ease;
}

.machado::before {
    top: 0;
}

.machado::after {
    bottom: 0;
}

.machado:hover::before, .machado:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.tatis {
    position: relative;
}

.tatis::before, .tatis::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: rgb(67, 40, 26);
    transform-origin: center;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.4s ease;
}

.tatis::before {
    top: 0;
}

.tatis::after {
    bottom: 0;
}

.tatis:hover::before, .tatis:hover::after {
    transform: translateX(-50%) scaleX(1);
}

footer {
    display: grid;
    grid-area: footer;
    background-color: rgb(67, 40, 26);
  
}

button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: goldenrod;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: transparent;
    display: inline;
    margin-left: 11%;
    text-align: center;
}

button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    transform-origin: center top;
    transform: scaleY(0);
    transition: transform 0.25s ease-in-out;
}

button:hover {
    cursor: pointer;
}

button:hover::before {
    transform-origin: center bottom;
    transform: scaleY(1);
}

p1 {
    margin-left: 45%;
    padding-bottom: 5px;
    color: white;
}
@media (max-width: 576px){
   body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr 1fr 1fr 1fr 1fr;
    width: auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "aside0"
    "aside"
    "footer"
     
   } 
   .logo{
       padding-left: 110px;
       position: relative;
   }
    aside{
        width: 100%;
    }
    p1{
      text-align: left;
        }
    }