body{
    background-color: #3a4660
}

header{
    text-align: center;
    color: #ed8a63
}
nav{
    text-align: center;
    color: white;
}
p0{
    color: #ed8a63
}
p1 {
    color: #c9af98

}
 p2{
     color: #ed8a63
 }

 p3{
     color: #c9af98

 }

 p4{
    color: #ed8a63
 }