body {
	background: black;
	color: white;
	font-family: 'M+ 2m', 'Monaco', 'Ubuntu Mono',  monospace;
	font-size: 11pt;
	margin: 0;
	line-height: 1.5;
}

button {
	font-family: inherit;
	font-weight: bold;
	font-size: inherit;
	background: #111;
	color: #eee;
	border: none;
}

#game {
	display: flex;
	flex-wrap: wrap;
	flex-direction: col-reverse;
	justify-content: center;
	align-items: center;
}

#game div {
}

#controls {
	padding: 1em;	
	text-shadow: 0px 0px 0.5em black;
}

::selection {
	background: yellow;
	color: #111;
}

button {
	background: orange;
	color: #111;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 0 0.5em;
	position: relative;
	user-select: none;
}

button:hover {
	background: #fff;
}
button:active {
	top: 1px;
}
button.disabled {
	cursor: default;
	opacity: 0.5;
}

#graph {
	background: yellow;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
}

